packages
bin
obj

*.suo
*.csproj.user
*.shproj.user

*.vspscc
*.vssscc
*.VC.db
*.VC.opendb
*.pdb

project.lock.json

*.sln
!UWPControls.sln
!UWPMap.sln

Binaries/*
Build/*
Controls/.nuget/*
Controls/Core/*
Controls/Data/*
Controls/**/*.Windows/*
Controls/**/*.WindowsPhone/*
Controls/DataStorage/*
Controls/Grid.DSProvider/*
Controls/ImageEditor/*
Controls/Tests/*
Controls/Chart/Chart.UWP/Chart.UWP.nuget.targets
Controls/Core.UWP/Core.UWP.nuget.targets
Controls/Data.UWP/Data.UWP.nuget.targets
Controls/DataVisualization/DataVisualization.UWP/DataVisualization.UWP.nuget.targets
Controls/Grid/Grid.UWP/Grid.UWP.nuget.targets
Controls/Input/Input.UWP/Input.UWP.nuget.targets
Controls/DataControls/DataControls.UWP/DataControls.UWP.nuget.targets
Controls/Primitives/Primitives.UWP/Primitives.UWP.nuget.targets
Controls/Map/Map.UWP/Map.UWP.nuget.targets
Controls/Map.Utils/Map.Utils.UWP/Map.Utils.UWP.nuget.targets

!Controls/Grid/Grid.Windows/*
!Controls/DataVisualization/DataVisualization.Windows/*

Data/*
Drawing/*

Drawing.UWP/DrawingUWP/x64/*
Drawing.UWP/DrawingUWP/ARM/*
Drawing.UWP/DrawingUWP/x86/*
Drawing.UWP/DrawingUWP/Release/*
Drawing.UWP/DrawingUWP/Debug/*

QA/*
QSF/*
SampleApps/*
*VSIX*
