packages
bin
obj

*.suo
*.csproj.user
*.shproj.user

*.vspscc
*.vssscc
*.VC.db
*.VC.opendb
*.pdb

project.lock.json

*.sln
!UWPControls.sln
!UWPMap.sln

Binaries/*
Build/*
Controls/.nuget/*
Controls/Core/*
Controls/Data/*
Controls/**/*.Windows/*
Controls/**/*.WindowsPhone/*
Controls/DataStorage/*
Controls/Grid.DSProvider/*
Controls/ImageEditor/*
Controls/Tests/*

!Controls/Grid/Grid.Windows/*
!Controls/DataVisualization/DataVisualization.Windows/*

Data/*
Drawing/*

Drawing.UWP/DrawingUWP/x64/*
Drawing.UWP/DrawingUWP/ARM/*
Drawing.UWP/DrawingUWP/x86/*
Drawing.UWP/DrawingUWP/Release/*
Drawing.UWP/DrawingUWP/Debug/*

QA/*
QSF/*
SampleApps/*
*VSIX*
